.main{
	margin-top: 80px;
}
.cab > h1
{
	font-size: 5.8em;
	font-weight: bold;
	text-align:center;
}
.cab > p
{
	font-size: 2.0em;
	font-weight: bold;
	margin-bottom: 50px;
	text-align:center;
}
.panel-heading
{
	font-size: 1.6em;
	font-weight: bold;
	text-align: center;
}

.addon-ex
{
	padding: 0px 12px 0px 0px;
	border: 0px;
	border-radius: 0px;
	background-color: #fff;
}
.cadastro-link
{
	text-align: right;
}

.panel-personalizado {
  border-color: #673Ab7;
}
.panel-personalizado > .panel-heading {
  color: #fff;
  background-color: #673Ab7;
  border-color: #673Ab7;
}
.panel-personalizado > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #673Ab7;
}
.panel-personalizado > .panel-heading .badge {
  color: #fff;
  background-color: #673Ab7;
}
.panel-personalizado > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #673Ab7;
}

.btn-personalizado {
  color: #fff;
  background-color: #FF4081;
  border-color: #FF4081;
}

.btn-personalizado:hover
{
	color: #fff;
}


.navbar-personalizado {
  background-color: #673Ab7;
  border-color: #673Ab7;

}

.navbar-personalizado .navbar-text {
  color: #eee;
}
.navbar-personalizado .navbar-nav > li > a {
  color: #eee;
}
.navbar-personalizado .navbar-nav > li > a:hover,
.navbar-personalizado .navbar-nav > li > a:focus {
  color: #FFFFFF;
  background-color: transparent;
}
.navbar-personalizado .navbar-nav > .active > a,
.navbar-personalizado .navbar-nav > .active > a:hover,
.navbar-personalizado .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #673Ab7;
}
.navbar-personalizado .navbar-toggle {
  border-color: #673Ab7;
}
.navbar-personalizado .navbar-toggle:hover,
.navbar-personalizado .navbar-toggle:focus {
  background-color: #673Ab7;
}

#673Ab7
#FF4081