<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Area de Login</title>
	<link rel="stylesheet" type="text/css" href="..\lib\bootstrap\dist\css\bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css\default.css">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-personalizado navbar-static-top">
		<div class="container">
		  	<div class="navbar-header">
	      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-principal" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
	      		</button>
      
    		</div>
		    <div class="collapse navbar-collapse" id="navbar-principal">
      			<ul class="nav navbar-nav navbar-right">
      			<li><a href="loginUser.html">Login</a></li>
      			<li><a href="cadastrarUser.html">Cadastre-se</a></li>
      			</ul>
      		</div>
		</div>
	</nav>
	<section class="container">
		
		<section class="row main">
			<article class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
			<div class="panel panel-personalizado">
	  			<div class="panel-heading">CADASTRAR-SE</div>
	  			<div class="panel-body">
	   
				<form>
					<div class="form-group">
						<label for="ipNome">Nome: </label>
						<input id="ipNome" type="text" class="form-control" placeholder="Nome"/>
					</div>

					<div class="form-group">
						<label for="ipUF">Endereço: </label>
						<div class="input-group">
							<div class="input-group-addon addon-ex">
								<input id="ipUF" type="text" class="form-control "  style="width:50px;" placeholder="UF"/>
							</div>
							<input id="ipCidade" type="text" class="form-control" placeholder="Cidade" />					
						</div>
					</div>
					<div class="form-group">
						<label for="ipDDD">Telefone: </label>
						<div class="input-group">
							<div class="input-group-addon addon-ex">
								<input id="ipDDD" type="text" class="form-control "  style="width:50px;" placeholder="ddd"/>
							</div>
							<input id="ipNumero" type="text" class="form-control" placeholder="Numero"/>		
						</div>
					</div>
					<div class="form-group">
						<label for="ipEmailCadastro">Email: </label>
						<input id="ipEmailCadastro" type="email" class="form-control" placeholder="Email"/>
					</div>

					<div class="form-group">
						<label for="ipSenhaCadastro">Senha: </label>
						<input id="ipSenhaCadastro" type="password" class="form-control" placeholder="Senha"/>
					</div>

					<div class="form-group">
						<label for="ipConfirmaSenhaCadastro">Confirma senha: </label>
						<input id="ipConfirmaSenhaCadastro" type="password" class="form-control" placeholder="Confirma Senha"/>
					</div>

					<input type="submit" value="Cadastrar" class="btn btn-personalizado btn-block btn-lg">
				</form>
				</div>
			</div>
			</article>
		</section>
	</section>
</body>
</html>