<div class="row main">
	<article class="col-xs-6 col-sm-2 col-md-2 col-xs-offset-3 col-lg-offset-0 col-md-offset-0 col-sm-offset-0">
		<ul class="nav">
			<li role="presentation"><a href="#">Perfil</a></li>
			<li role="presentation"><a href="#">Navegar</a></li>
			<li role="presentation"><a href="#">Meus Livros</a></li>
			<li role="presentation"><a href="#">Emprestimos</a></li>
			<li role="presentation"><a href="#">Configurações</a></li>	
		</ul>
	</article>
	<article class="col-xs-6 col-sm-4 col-md-4 col-lg-4 col-xs-offset-0 col-lg-offset-0 col-md-offset-0 col-sm-offset-0">
		<div class="panel panel-default">
		  <div class="panel-heading">Meus Livros</div>
		  <table class="table table-striped">
		    <tr>
		    	<td>
		    		<div class="media">
					  <div class="media-left" >
					    <a href="#">
					      <img style="width:100px;" class="media-object" src="content/imagens/defaultbook.png" alt="book-image">
					    </a>
					  </div>
					  <div class="media-body">
					    <h4 class="media-heading">O Mundo de Sofia</h4>
					   	Media Body, Media Body, Media Body
					  </div>
					</div>
		    	</td>
		    </tr>
		    <tr>
		    	<td>
		    		<div class="media">
					  <div class="media-left" >
					    <a href="#">
					      <img style="width:100px;" class="media-object" src="content/imagens/defaultbook.png" alt="book-image">
					    </a>
					  </div>
					  <div class="media-body">
					    <h4 class="media-heading">O Alquimista</h4>
					   	Media Body, Media Body, Media Body
					  </div>
					</div>
		    	</td>
		    </tr>
		    <tr>
		    	<td>
		    		<div class="media">
					  <div class="media-left" >
					    <a href="#">
					      <img style="width:100px;" class="media-object" src="content/imagens/defaultbook.png" alt="book-image">
					    </a>
					  </div>
					  <div class="media-body">
					    <h4 class="media-heading">O Código da Vinci</h4>
					   	Media Body, Media Body, Media Body
					  </div>
					</div>
		    	</td>
		    </tr>

		  </table>
		</div>
	</article>
	<article class="col-xs-6 col-sm-4 col-md-4 col-lg-4 col-xs-offset-0 col-lg-offset-0 col-md-offset-0 col-sm-offset-0">
		<div class="panel panel-default">
		  <div class="panel-heading">Livros em Empréstimo</div>
		  <table class="table">
		 	<tr>
		    	<td>
		    		<div class="media">
					  <div class="media-left" >
					    <a href="#">
					      <img style="width:100px;" class="media-object" src="content/imagens/defaultbook.png" alt="book-image">
					    </a>
					  </div>
					  <div class="media-body">
					    <h4 class="media-heading">O Alquimista <span class="label label-success">Meu</span></h4>
					   	Media Body, Media Body, Media Body
					  </div>
					</div>
		    	</td>
		    </tr>
		    <tr>
		    	<td>
		    		<div class="media">
					  <div class="media-left" >
					    <a href="#">
					      <img style="width:100px;" class="media-object" src="content/imagens/defaultbook.png" alt="book-image">
					    </a>
					  </div>
					  <div class="media-body">
					    <h4 class="media-heading">Assim Falava Zara <span class="label label-warning">Não é meu</span></h4>
					   	Media Body, Media Body, Media Body
					  </div>
					</div>
		    	</td>
		    </tr>
		  </table>
		</div>
	</article>
</div>
