<div class="row">
<link rel="stylesheet" href="http://css-spinners.com/css/spinner/throbber.css" type="text/css">
<article class="col-xs-12 col-sm-12 col-md-4 col-lg-6 col-lg-offset-3 col-md-offset-3">
	<div class="panel panel-personalizado">
	  	<div class="panel-heading">  </div>
	  	
	  	<div class="panel-body">
	  		<!-- ISBN 13 INPUT -->
	  		<div class="row text-center">
	  			<label for="imagemLink" class="control-label">Capa</label><br/>
	  			<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-3 col-xs-offset-3 thumbnail">
			   		<img name="imagemLink" ng-src="{{livro.imagemLink}}" alt="Thumbnail">
				</div>	
	  		</div>
			
			<form class="col-lg-12" name="cadastroLivroForm" novalidate>

				<!-- ISBN 13 INPUT -->
			  <div 
			  	class="form-group " 
			  	ng-class="{ 'has-error' : cadastroLivroForm.isbn13.$invalid && !cadastroLivroForm.isbn13.$pristine }">

			    <label for="isbn13" class="control-label">ISBN13</label> 
		    	<input 
		    		type="text"  
		    		class="form-control" 
		    		id="isbn13" 
		    		name="isbn13" 
		    		placeholder="Ex: 9780152465032" 
		    		minlength="13" 
		    		maxlength="13" 
		    		ng-required="true" 
		    		ng-model="livro.isbn[1]" 
		    		ng-blur="pegarLivro(livro.isbn[1])"
		    		ng-bind="teste.mensagem(cadastroLivroForm.isbn13.$invalid)"
		    	>      
			  </div>

			  <!-- ISBN 10 INPUT -->
			  <div 
			  	class="form-group " 
			  	ng-class="{ 'has-error' : cadastroLivroForm.isbn10.$invalid && !cadastroLivroForm.isbn10.$pristine }">

			    <label for="isbn10" class="control-label">ISBN10</label>
		    	<input  
		    		type="text" 
		    		class="form-control" 
		    		id="isbn10" 
		    		name="isbn10" 
		    		placeholder="Ex: 8571644756" 
		    		ng-required="true" 
		    		ng-model="livro.isbn[0]" 
		    		ng-minlength="10" 
		    		ng-maxlength="10" 
		    		minlength="10" 
		    		maxlength="10" 
		    		ng-blur="pegarLivro(livro.isbn[0])">	    			        
			  </div>

			  <!-- TITULO INPUT -->
			  <div 
			  	class="form-group" 
			  	ng-class="{ 'has-error' : cadastroLivroForm.titulo.$invalid && !cadastroLivroForm.titulo.$pristine }">

			    <label for="titulo" class="control-label">Titulo</label>
			    <input 
			    	type="text" 
			    	class="form-control"
			    	id="titulo" 
			    	name="titulo" 
			    	placeholder="Ex: O Pequeno Príncipe" 
			    	ng-required="true" 
			    	ng-model="livro.titulo">		    
			  </div>

			  <!-- AUTORES INPUT -->
			  <div class="form-group" 
			  	ng-class="{ 'has-error' : cadastroLivroForm.autores.$invalid && !cadastroLivroForm.autores.$pristine }">
			    <label for="autores" class="control-label">Autores</label>
			    <input 
			    	type="text" 
			    	class="form-control" 
			    	id="autores" 
			    	name="autores" 
			    	placeholder="Ex: Antoine de Saint-Exupéry"
			    	ng-required="true" 
			    	ng-model="livro.autores">		    
			  </div>

			  <!-- ANO DE PUBLICAÇÃO INPUT -->
			  <div 
			  	class="form-group" 
			  	ng-class="{ 'has-error' : cadastroLivroForm.publicacao.$invalid && !cadastroLivroForm.publicacao.$pristine }">

			    <label for="publicacao" class="control-label">Ano de publicação</label>
			    <input  
			    	class="form-control" 
			    	id="publicacao" 
			    	name="publicacao" 
			    	placeholder="Ex: 1943" 
			    	ng-required="true" 
			    	ng-model="livro.publicacao">			       
			  </div>

			  <!-- NUMERO DE PAGINAS INPUT -->
			  <div 
			  	class="form-group" 
			  	ng-class="{ 'has-error' : cadastroLivroForm.paginas.$invalid && !cadastroLivroForm.paginas.$pristine }">

			    <label for="paginas" class="control-label">Nº Paginas</label>
			    <input  
			    	class="form-control" 
			    	id="paginas" 
			    	name="paginas" 
			    	placeholder="Ex: 96" 
			    	ng-required="true" 
			    	ng-model="livro.paginas">			        
			  </div>

			  <!-- SUBMIT -->
			  <button 
			  	ng-submit="" 
			  	ng-disabled="cadastroLivroForm.$invalid" 
			  	class="btn btn-personalizado btn-block">Cadastrar</button>

			  <div 
			  	ng-class="{ 'has-error' : cadastroLivroForm.$invalid }" 
			  	ng-show="cadastroLivroForm.$invalid">
			  	<p class="help-block">Preencha todos os campos.</p>	
			  </div>

			</form>
		</div>
	</div>
</article>
</div>