<header class="main cab"  style="color:#fff;">
	<h1><span class="titulo-kitap">K</span>itap</h1>
	<p>Compartilhe conhecimento emprestando livros.</p>
</header>
		
<section class="row">
			
	<article class="col-md-8 col-md-offset-2">
				
		<div class="input-group input-group-lg">
			<input class="form-control" type="text" placeholder="Pequise por Autor, Titulo ou Categoria">
			<span class="input-group-btn">
        		<button class="btn btn-personalizado" type="button">Pesquisar!</button>
      		</span>
		</div>
	</article>
</section>
