<header class="main cab texto-branco">
	<h1><span class="k-logo">K</span>itap</h1>
	<p>Compartilhe conhecimento.</p>
</header>
		
<section class="row">
			
	<article class="col-md-8 col-md-offset-2">
		<form ng-submit="pesquisar(query)" method="GET">
			<div class="input-group input-group-lg">
				<input ng-model="query" class="form-control" name="query" type="text" placeholder="Autor, Titulo ..." autofocus>
				<span class="input-group-btn">
	        		<button class="btn btn-personalizado" type="submit">Pesquisar!</button>
	      		</span>
			</div>			
		</form>


	</article>
</section>
