.main{
	margin-top: 80px;
	
}
.cab > h1
{
	font-size: 5.8em;
	font-weight: bold;
	text-align:center;
}
.cab > p
{
	font-size: 2.0em;
	font-weight: bold;
	margin-bottom: 50px;
	text-align:center;
 }
  

.navbar-personalizado {
  background-color: #83ACFF;
  border-color: #83ACFF;

}

.navbar-personalizado .navbar-text {
  color: #eee;
}
.navbar-personalizado .navbar-nav > li > a {
  color: #eee;
}
.navbar-personalizado .navbar-nav > li > a:hover,
.navbar-personalizado .navbar-nav > li > a:focus {
  color: #FFFFFF;
  background-color: transparent;
}
.navbar-personalizado .navbar-nav > .active > a,
.navbar-personalizado .navbar-nav > .active > a:hover,
.navbar-personalizado .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #83ACFF;
}
.navbar-personalizado .navbar-toggle {
  border-color: #83ACFF;
}
.navbar-personalizado .navbar-toggle:hover,
.navbar-personalizado .navbar-toggle:focus {
  background-color: #83ACFF;
}

.panel-personalizado {
  border-color:  #83ACFF;
}
.panel-personalizado > .panel-heading {
  color: #fff;
  font-size: 1.8em;
  font-weight: bold;
  background-color: #83ACFF;
  border-color:  #83ACFF;
  text-align: center;
}
.panel-personalizado > .panel-heading + .panel-collapse > .panel-body {
  border-top-color:  #83ACFF;
}
.panel-personalizado > .panel-heading .badge {
  color: #dff0d8;
  background-color:  #83ACFF;
}
.panel-personalizado > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color:  #83ACFF;
}

.addon-ex
{
  
  padding: 0px 12px 0px 0px;
  
  background-color: #fff;
  border: 0px solid #ccc;
  border-radius: 0px;

}

.btn-personalizado
{
  background-color: #FF5930;
  border-color: #FF5930;
  color: #fff;
  font-size: 1.6em;
  font-weight: bold;
}

@media (min-width: 1200px) {
.col-lg-offset-ex
{
  margin-left: 29.17%;
}
}

 #83ACFF