@import url(https://fonts.googleapis.com/css?family=Montez);

.main{
	margin-top: 80px;
}
body
{
  background-color: #232935;
  font-weight: bold;
}
.cab > h1
{
	font-size: 5.8em;
	font-weight: bold;
	text-align:center;
}
.cab > p
{
	font-size: 2.0em;
	font-weight: bold;
	margin-bottom: 50px;
	text-align:center;
 }
  

.navbar-personalizado {
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}



.panel-personalizado {
  border-color:  #83ACFF;
  background-color: #FFF;
  box-shadow: 0px 5px 10px #222;
}

.addon-ex
{
  
  padding: 0px 12px 0px 0px;
  
  background-color: #fff;
  border: 0px solid #ccc;
  border-radius: 0px;

}

.btn-personalizado
{
  background-color: #FF3030;
  border-color: #FF3030;
  color: #fff;
  font-size: 1.6em;
  font-weight: bold;
}

@media (min-width: 1200px) {
  .col-lg-offset-ex
  {
    margin-left: 29.17%;
  }
}

.dash-nav > li > a
{
  font-weight: bold;
  color: #eee;
}
#navbar-principal .navbar-nav > li > a
{
  color: #eee;

}
#navbar-principal .navbar-nav > li > a:hover
{
  color: #222;
  background-color: #fff;
}

.dash-nav > li > a:hover
{
  background-color: #222;
  color: #fff;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

.dash-container
{
  background-color: #fff;
  height: 900px;
  box-shadow: 0px 5px 10px #222;
}

.titulo-kitap
{
  color:#FF3030;font-size:1.5em;font-weight: bold;
  font-family: 'Montez', cursive;
}

 #83ACFF